footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    padding: 20px 0;
  
  
  .footer-content {
    color: #fff;
    text-align: center;
  }
  
  .logofooter img {
    width: 200px;
  }
}
  .direccion p {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .redes a {
    color: rgb(170, 71, 71);
    font-size: 40px;
    margin-right: 10px;
    padding: 10px;
    
    
  }

