#menu{

    li { 
    font-size: 25px;
    font-weight: bold;
    list-style: none;  

  }
  #menu li a:hover{
    color:white
  }
  nav { 
    text-decoration: none;
     }
}


.carousel img{
  width: 900px;
  height: 700px;
  border: 5px solid rgb(177, 87, 180)
  
}

.Bienvenidos { 
  font-weight: bold;
  font-size: 30px;
  text-align: center;
 
}
h1{
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
h2{
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer { 
  0% { 
      opacity: 0;
  }
  100% { 
      opacity: 1;
  }
}
.Bienvenidos p{
  font-size: 25px;
}

#division { 
  margin: 0; 
  padding: 40px; 
  font-size: 35px;   
  }
 

.img { 
  padding: 40px;
  
}

.pedido { 
  font-weight: bold;
  text-align: center;
  padding: 25px; 
}

p{color: $color-parrafo;
  font-weight: bold;
  text-align: center;
  
}
