@import "_variables";
@import "mixin";
@import "inicio";
@import "footer";
@import "quienes somos";
@import "galeria";
@import "contacto";
@import "combos";



*{
    margin: 0;
}
body {font-family: 'Montserrat', sans-serif;
    text-decoration: rgb(170, 71, 71);
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }

.btn-wat{
    position: fixed;
    height: 55px;
    width: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
} 
    .btn-wat:hover{
        text-decoration: none;
        color: #0df053;
        background: white;
    }    

  
h3{ 
    color: $color-titulos;
    @include tituloh3;
}    




 









